    <!-- Framework CSS -->
    <link rel="stylesheet" href="/site_media/blueprint-css/screen.css" type="text/css" media="screen, projection, print">
    <!-- link rel="stylesheet" href="../../blueprint/print.css" type="text/css" media="print" -->
    <!--[if lt IE 8]><link rel="stylesheet" href="../../blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <!-- Import fancy-type plugin for the sample page. -->
    <!-- link rel="stylesheet" href="../../blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" -->
    <link rel="stylesheet" href="/site_media/blueprint-css/plugins.buttons.screen.css" type="text/css" media="screen, projection">
<style type="text/css">

A               { color: #336699; text-decoration: underline; }
A:link          { color: #000080; text-decoration: underline; }
A:visited       { color: #336699; text-decoration: underline; }
A:active        { color: #9966FF; text-decoration: underline; }
A:hover         { color: #CC6633; text-decoration: none; }


input.text, input.title {
margin-bottom: 0px; 
}

/* .results div { padding:0 0 1.38em; } */
.results div.notice { padding:0.8em; text-align: center; }
.button { font-size: 1.5em; height: 1.8em; background-color: #a5d4eb; }
.next { background-color: #a5d4eb; }
select { background-color: #a5d4eb; }
/* input { background-color: #a5d4eb; border: 1px solid #eee; } */
a.close { text-decoration: none; position:relative; left: 4px; }
.facet { border:2px solid #DDDDDD; padding: .5em; margin-left: 3em; height: 1.8em; top: .5em; }
.facet a.close { vertical-align:super; text-align: right; }
.wrca-logo {  position:relative; left: 9px; }
h1 a { text-decoration:none; }

.resultCount{ color: #777; }

</style>

