{% extends 'base.html' %}
{% block mainclass %}search{% endblock mainclass %}

{% block head_title %}
UC Links Related to {{ query }}
{% endblock head_title %}


{% comment %}
{% block breadcrumbs %}
<div id="breadcrumbs"><span class="label">Now Browsing:</span>
    <span class="arrow"></span>
    <a href="/search?q={{ query }}">UC Links Related to {{ query }}</a>
</div>
{% endblock breadcrumbs %}
{% endcomment %}

{% block bodycontent %}	
              <div id="searchcontent">
                  <h1>UC Links Related to {{ query }}</h1>
                  {% if searchError %}
                  {{ searchError }}
                  {% endif %}
                  <!-- p>You can use AND and OR  or put phrases in quotes to make your search more precise. <a href="">Learn more</a><br / -->
                </p>
                  <form id="form1" method="get" action="/search">
                    <input name="q" type="text" id="search_top"
                    value="{{ query }}" size="80" />
                    <input type="submit" name="submit" id="submit" value="Go" />
                <!-- p class="flagBG2">Did you mean <a href=""><em>wildfire</em></a>? </p -->
                {% ifequal number_results 0 %}
                  </form>
                <p>No matches found for query term {{ query }}</p>
                <p>Please modify your query term and try again</p>
                {% else %}
                <p>Found {{ response.numFound }} items. <span >Showing 
                    <select name="perpage" id="perpage">
                        {% for num in perpage_options %}
                        {% ifequal num perpage %}
                        <option value="{{ num }}" selected="selected">{{ num }}</option>
                        {% else %}
                        <option value="{{ num }}">{{ num }}</option>
                        {% endifequal %}
                        {% endfor %}
                    </select>
                    per page.</span></p>
                  <div class="pagination"><a
                      href="/search?q={{ query }}&perpage={{ perpage }}&pagnum=1">&lt;&lt;</a>&nbsp;&nbsp;
                  {% if page_current.has_previous %}
                  <a href="/search?q={{ query }}&perpage={{ perpage }}&pagenum={{ page_current.previous_page_number }}">&lt;</a>&nbsp;
                  {% endif %}
                    <input name="pagenum" type="text" id="pagenum" size="1" value="{{ pagenum }}" />
                    of {{ pager.num_pages }}
                  {% if page_current.has_next %}
                  <a href="/search?q={{ query }}&perpage={{ perpage }}&pagenum={{ page_current.next_page_number }}">&gt;</a>&nbsp;&nbsp;
                  {% endif %}
                  <a href="/search?q={{ query }}&perpage={{ perpage }}&pagenum={{ pager.num_pages }}">&gt;&gt;</a>
                  </div>
                  </form>
                  
                  {% for result in results %}

                  <div class="hit">
                      <p><a href="{{ result.url }}"><strong>{{ result.title }}</strong></a><br />
                      {% for snippet in result.snippets %}
                      {{ snippet|safe }}…
                      {% endfor %}
                    <br />
                        <a href="{{ result.url }}">{{ result.url }}</a>&nbsp;&nbsp;
<a class="a2a_dd"
    href="http://www.addtoany.com/share_save?linkname=From%20UCverse%20-%20{{ result.title|urlencode }}&amp;linkurl={{ result.url|urlencode }}">
    <img src="http://static.addtoany.com/buttons/share_save_120_16.gif" width="120" height="16" border="0" alt="Share/Share"/></a>

<script
    type="text/javascript">a2a_linkname="From UCverse - {{ result.title }}";a2a_linkurl="{{ result.url }}";a2a_onclick=1;
</script>
                </p>
                 </div>
                  {% endfor %}
                   
                  <form id="form1" method="get" action="/search?q={{ query }}&perpage={{ perpage }}">
                  <div class="pagination"><a
                      href="/search?q={{ query }}&perpage={{ perpage }}&pagnum=1">&lt;&lt;</a>&nbsp;&nbsp;
                  {% if page_current.has_previous %}
                  <a href="/search?q={{ query }}&perpage={{ perpage }}&pagenum={{ page_current.previous_page_number }}">&lt;</a>&nbsp;
                  {% endif %}
                    <input name="pagenum" type="text" id="pagenum" size="1" value="{{ pagenum }}" />
                    <input type="submit" name="submit" id="submit" value="Go" />
                    of {{ pager.num_pages }}
                  {% if page_current.has_next %}
                  <a href="/search?q={{ query }}&perpage={{ perpage }}&pagenum={{ page_current.next_page_number }}">&gt;</a>&nbsp;&nbsp;
                  {% endif %}
                  <a href="/search?q={{ query }}&perpage={{ perpage }}&pagenum={{ pager.num_pages }}">&gt;&gt;</a>
                  </div>
                  </form>
        {% endifequal %}

                    <form id="form2" method="get" action="/search">
                    <h2>Search the UCverse</h2>
                    <input name="q" type="text" id="search_bottom"
                    value="{{ query }}" size="80" />
                    <input type="submit" name="submit" id="submit" value="Go" />
                  </form>

              </div> <!-- close searchcontent -->
{% endblock bodycontent %}
{% block footscript %}
<script type="text/javascript" src="http://static.addtoany.com/menu/page.js">
</script>
{% endblock footscript %}
