{% extends 'base.html' %}
{% block mainclass %}
search
{% endblock mainclass %}

{% block head_title %}
Search Error!
{% endblock head_title %}


{% block breadcrumbs %}
<div id="breadcrumbs"><span class="label">Now Browsing:</span>
    <span class="arrow"></span>
    <a href="/search?q={{ query }}">UC Links Related to {{ query }}</a>
</div>
{% endblock breadcrumbs %}

{% block bodycontent %}	
              <div id="searchcontent">
                  <h1>Please change your search term...{{ query }}</h1>
                  {{ searchError }}
                  <!-- p>You can use AND and OR  or put phrases in quotes to make your search more precise. <a href="">Learn more</a><br / -->
                </p>
                  <form id="form1" method="get" action="/search">
                    <input name="q" type="text" id="search_top"
                    value="{{ query }}" size="80" />
                    <input type="submit" name="submit" id="submit" value="Go" />
                <!-- p class="flagBG2">Did you mean <a href=""><em>wildfire</em></a>? </p -->
              </div> <!-- close searchcontent -->
{% endblock bodycontent %}
