<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>WRCA Search Results {% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>

    {% block head_extra %} {% endblock head_extra %}
    {% block head_script_includes %} {% endblock head_script_includes %}
    {% include "global_headcss.html" %}
  </head>
  <body {% block bodytag_attrs %}{% endblock %}>
    <div class="container">
<div class="header">

{% block header %}

<div class="span-11 prepend-14 last">
<a href="http://www.lib.berkeley.edu/WRCA/faq.html">
<img height="11" width="125" border="0" nosave="" alt="[ HELP/FAQ ]" src="http://www.lib.berkeley.edu/Images/help.gif"></a><a href="http://www.lib.berkeley.edu/WRCA/database.html"><img height="11" width="101" border="0" nosave="" alt="[ CATALOGS ]" src="http://www.lib.berkeley.edu/Images/catalogs.gif"></a><a href="http://www.lib.berkeley.edu/WRCA/ecomment.html"><img height="11" width="106" border="0" nosave="" alt="[ COMMENTS ]" src="http://www.lib.berkeley.edu/Images/comments.gif"></a><a href="http://www.lib.berkeley.edu/WRCA/"><img height="11" width="67" border="0" nosave="" alt="[ HOME ]" src="http://www.lib.berkeley.edu/Images/home.gif"></a>
</div>
    <div><a href="http://www.lib.berkeley.edu/WRCA/"><img class="wrca-logo" src="http://www.lib.berkeley.edu/WRCA/images/header1.gif" width="354" height="45" border="0"/></a></div>





</div>
{% endblock header %}
<form class="prepend-2 span-22">
              <input type="text" class="title" name="q"
		value="{{ query }}"> <!-- fill in value -->
              <input type="submit" class="button" value="search"> 


<!-- facets -->


<!-- <span class="facet">Limited to WRCA web site <a href="" class="close" title="remove limit">☒</a></span>
<span class="facet">Limited to PDF <a title="remove limit" class="close" href="#">☒</a></span> -->


</form>
<hr>
{% block bodycontent %}
      <div class="results span-14 prepend-2 colborder">
<!-- 
<div class="dym">Did you mean <a href="">loren gypsum</a>?</div>
-->

                  {% if searchError %}
			<div class="error">
                  {{ searchError }}
			</div>
                  {% endif %}

                {% ifequal number_results 0 %}
<div class="notice">
There are no results for this query (<b>{{ query }}</b>). Please modify your search and try again.
</div>
                {% else %}



<div class="pagination">

<form>page {{ pagenum }} of {{ pager.num_pages }}
<span>Showing
                    <select name="perpage" id="perpage">
                        {% for num in perpage_options %}
                        {% ifequal num perpage %}
                        <option value="{{ num }}" selected="selected">{{ num }}</option>
                        {% else %}
                        <option value="{{ num }}">{{ num }}</option>
                        {% endifequal %}
                        {% endfor %}
                    </select>
                    per page.</span> {{ response.numFound }} results
<!-- showing <select><option>10</option><option>100</option></select> per page. 3992 results -->

</form>

</div>

                  {% for result in results %}

                  <div class="hit">
                      <p><a href="{{ result.url }}"><strong>{{ result.title }}</strong></a><br />
                      {% for snippet in result.snippets %}
                      {{ snippet|safe }}…
                      {% endfor %}
                    <br />
                        <a href="{{ result.url }}">{{ result.url }}</a>&nbsp;&nbsp;
<a class="a2a_dd"
    href="http://www.addtoany.com/share_save?linkname=From%20UCverse%20-%20{{ result.title|urlencode }}&amp;linkurl={{ result.url|urlencode }}">
    <img src="http://static.addtoany.com/buttons/share_save_120_16.gif" width="120" height="16" border="0" alt="Share/Share"/></a>

<script
    type="text/javascript">a2a_linkname="From UCverse - {{ result.title }}";a2a_linkurl="{{ result.url }}";a2a_onclick=1;
</script>
                </p>
                 </div>
                  {% endfor %}


                 <div class="pagination"><a
                      href="/search?q={{ query }}&perpage={{ perpage }}&pagnum=1">&lt;&lt;</a>&nbsp;&nbsp;
                  {% if page_current.has_previous %}
                  <a href="/search?q={{ query }}&perpage={{ perpage }}&pagenum={{ page_current.previous_page_number }}">&lt;</a>&nbsp;
                  {% endif %}
                    <input name="pagenum" type="text" id="pagenum" size="1" value="{{ pagenum }}" />
                    of {{ pager.num_pages }}
                  {% if page_current.has_next %}
                  <a href="/search?q={{ query }}&perpage={{ perpage }}&pagenum={{ page_current.next_page_number }}">&gt;</a>&nbsp;&nbsp;
                  {% endif %}
                  <a href="/search?q={{ query }}&perpage={{ perpage }}&pagenum={{ pager.num_pages }}">&gt;&gt;</a>
<span>Showing                    <select name="perpage" id="perpage">
                        {% for num in perpage_options %}
                        {% ifequal num perpage %}
                        <option value="{{ num }}" selected="selected">{{ num }}</option>
                        {% else %}
                        <option value="{{ num }}">{{ num }}</option>                        {% endifequal %}
                        {% endfor %}
                    </select>
                    per page.</span> {{ response.numFound }} results

                  </div>


<!-- div class="pagination">
<form>
<input type="submit" class="button" value="|◀"></input>
<input type="submit" class="button" value="◀"></input>
page <input style="font-size:1.5em;" size="1" value="1">   of 400 
<input type="submit" class="button" value="▶"></input>   



</form>
</div -->
{% endifequal %}
{% endblock bodycontent %}
      </div>

      <div class="span-7 last">
        <h3>Limit to:</h3>
        <h4>source</h4>
	<ul>
{{ response.facet_counts.facet_fields.site }}
{% for site in response.facet_counts.facet_fields.site %}
  <li>{{ site }} </li>
{% endfor %}
	</ul>
        <!-- h4>type</h4>
	<ul>
	<li>PDF (123)<a href="" class="close">☒</a></li>
	<li><a href="">HTML (123)</a></li -->
	</ul>


<hr>


<div class="prepend-1 prepend-top vert-banner">
<a style="position: relative; left: 30px;" href="http://givetocal.berkeley.edu/browse/?u=123"><strong>Support WRCA!</strong></a><br><br>
<a href="http://www.lib.berkeley.edu/WRCA"><img title="Water Resources Center Archives" src="http://www.lib.berkeley.edu/WRCA/images/wrca_logo_bluebkg_cmyk_r2.gif"></a>   
<a style="position: relative; left: 19px;" href="http://www.facebook.com/pages/Berkeley-CA/Water-Resources-Center-Archives/163647453707"><img title="Become a WRCA Facebook fan!" src="http://www.lib.berkeley.edu/WRCA/images/fbbadge.png"></a>
</div>
      </div>
<hr>

<div class="footer" align="center">
<p><font face="Arial,Helvetica" size="1pt" color="666666">
<b><a href="http://www.lib.berkeley.edu/WRCA/database.html">Catalogs</a> | <a href="http://www.lib.berkeley.edu/WRCA/ecomment.html">Comments</a></b> | <a href="http://www.lib.berkeley.edu/WRCA/friends.html"><b>Support the Archives</b></a><br>
Copyright &copy; [Current-Year] The Regents of the University of California.<br>
<i>All rights reserved.</i>&nbsp;&nbsp;Data owner: <a href="http://www.lib.berkeley.edu/WRCA/staff.html">Paul Atwood</a>

</font>
</p>
</div>
</div>

  </body>
</html>
